body {
    background-image: url(img/plain-blue-background.jpg);

    height: 100vh;
    width: 100vw;
    
    display: flex;
    align-items: center;
}

.container {
    padding: 20px;
    width: 450px;

    display: flex;
    align-items: center;
} 

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;

    width: 372px;
}

